<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create Public Holiday</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

<div class="container mt-5">
    <h3 class="text-primary">Create Public Holiday</h3>

    <form th:action="@{/publicholidays/create}" th:object="${publicHolidays}" method="post">
        <div class="form-group">
            <label for th:text="#{fieldlabel.publicholidaysName}">Name:</label>
            <input type="text" class="form-control"  th:field="*{name}" required />
        </div>
        <div class="form-group">
            <label for th:text="#{fieldlabel.publicholidaysDate}">Date:</label>
            <input type="text" class="form-control"  th:field="*{date}" required />
        </div>
        <button type="submit" class="btn btn-primary">Create Public Holiday</button>
    </form>

    <div class="text-center mt-3">
        <a th:href="@{/publicholidays/list}" class="btn btn-info">Back to Public Holidays List</a>
    </div>
</div>

</body>
<div class="text-center">
    <a href="/dashboard" class="btn btn-secondary">Go back to dashboard</a>
</div>
</html>
