<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />

<body>

	<div th:replace="fragments/layout.html :: menu" />
	<div th:replace="fragments/layout.html :: header" />
	<h3>Edit Role page</h3>

	<form action="#" th:action="@{/leavetype/editDetails/}+${leaveType.Id}" th:object="${leaveType}" method="post">
		<table>
			<tbody>
				<tr>
					<td><span th:text="#{fieldLabel.leaveTypeId}"></span></td>
					<td>
						<fieldset><input type="text" th:field="*{Id}" readonly="readonly" /></fieldset>
					</td>
					<td th:if="${#fields.hasErrors('Id')}" th:errors="*{Id}"></td>
				</tr>
					<tr>
					<td><span th:text="#{fieldLabel.leaveTypeName}"></span></td>
					<td><input type="text" th:field="*{Name}" readonly="readonly"/></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
				</tr>
				<tr>
					<td><span th:text="#{fieldLabel.leaveTypeRoleName}"></span></td>
					<td><input type="text" th:field="*{roleName}" readonly="readonly" /></td>
					<td th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}"></td>
				</tr>
			
				<tr>
					<td><span th:text="#{fieldLabel.leaveTypeentitledNum}"></span></td>
					<td><input type="text" th:field="*{entitledNum}" /></td>
					<td th:if="${#fields.hasErrors('entitledNum')}" th:errors="*{entitledNum}"></td>
				</tr>
				<tr>
					<td><input type="submit" value="Update" class="blcass" /></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</form>